.background-container {
  position: relative;
  width: 100%;
  height: 80%; /* Altura deseada para el contenedor */
  overflow: hidden;
  z-index: -1;


}

.background-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;

}

.invertido{
  right: 0;
  left: auto;
}

.background-image.invertido {
  transform: scaleX(-1); /* Invertir la imagen horizontalmente */


}

.background-container-footer {
  position: relative;
  width: 100%;
  height: 100%; /* Altura deseada para el contenedor */
  overflow: hidden;
  z-index: -1;


}


.background-image-footer {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;

}

.background-image-footer-invertido {
  transform: scaleX(-1); /* Invertir la imagen horizontalmente */



}

.invertido-footer{
  right: 100%;
  left: 0;
  transform: scaleX(-1);
}


